<%= content_tag :div, class: 'media', id: "registered_application-#{registered_application.id}" do %>
  
      <p><b>Name:</b><%= registered_application.name %> 
        <br/>
      <b>URL:</b><%= link_to registered_application.url %>
      <% if policy(registered_application).destroy? %>
        <br/>
        <small><%= link_to "Delete", [registered_application.user, registered_application], method: :delete, remote: true %></small> </p>
      <% end %>
<% end %>
