<% if @registered_application.destroyed? %>
   $('#registered_application-' +<%= @registered_application.id %>).hide();
 <% else %>
   $('#registered_application-' +<%= @registered_application.id %>).prepend("<div class='alert alert-danger'><%= flash[:error] %></div>");
 <% end %>