<div class ="media-body">
  <h2 class="media-heading"><%= current_user.name %></h2>
</div>

<div class="col-md-8">
  <%= render partial: 'registered_applications/registered_application', collection: @registered_applications %>
</div>

 <div class="col-md-4"> 
 <% if policy(RegisteredApplication.new).create? %>
  <div class='new-registered_application'>
    <%= render partial: 'registered_applications/form', locals: {user: current_user, registered_application: RegisteredApplication.new} %>
    <% end %>
  </div>
</div> 


</div>
